<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.decade.gas.mapper.admin.BFRoleMapper">

    <resultMap id="resultBFRole" type="org.decade.gas.entity.admin.BFRoleEntity">
        <result property="roleId" column="role_id" javaType="java.lang.String"/>
        <result property="updateTime" column="update_time" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
    </resultMap>

    <resultMap id="resultBFRoleWithPrivilege" type="org.decade.gas.entity.admin.BFRoleEntity" extends="resultBFRole">
        <collection property="pri" resultMap="resultPri"/>
    </resultMap>

    <resultMap id="resultPri" type="org.decade.gas.entity.admin.PrivilegeEntity">
        <result property="privilegeId" column="pid" javaType="java.lang.String"/>
        <result property="name" column="pname" javaType="java.lang.String"/>
        <result property="resume" column="presume" javaType="java.lang.String"/>
    </resultMap>


    <select id="listAll" resultMap="resultBFRole">
        SELECT
            id,
            role_id,
            name,
            info,
            state,
            update_time,
            create_time
        FROM b_f_role
    </select>

    <select id="select" resultMap="resultBFRole">
        SELECT role_id, name, info, state, update_time,create_time
        FROM b_f_role
        WHERE state = 1
        <if test="name !=null">AND name like #{name}</if>
    </select>

    <select id="selectWithPrivilege" resultMap="resultBFRoleWithPrivilege">
        SELECT r.role_id, r.name, r.info, r.state, r.update_time,r.create_time,
        p.privilege_id as pid,p.name as pname,p.resume as presume
        FROM b_f_role r,b_f_privilege p,b_f_lk_role_privilege lk
        WHERE r.state =1
        and p.state=1
        AND lk.role_id=r.role_id
        AND lk.privilege_id=p.privilege_id
        <if test="name !=null">AND r.name like #{name}</if>
        <if test="roleId!=null">AND r.role_id like #{roleId}</if>
    </select>

    <insert id="insert">
        INSERT INTO b_f_role (id, role_id, name, info, state, update_time, create_time)
        VALUES (#{id}, #{roleId}, #{name}, #{info}, #{state}, NOW(), NOW())
    </insert>

    <insert id="addPrivilege">
        INSERT INTO b_f_lk_role_privilege (lk_rp_id, role_id, privilege_id, update_time, create_time)
        VALUES (#{lkId}, #{role.roleId}, #{privilege.privilegeId}, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE b_f_role
        SET update_time = NOW()
        <if test="roleId!=null">,role_id=#{roleId}</if>
        <if test="name!=null">,name=#{name}</if>
        <if test="state!=null">,state=#{state}</if>
        WHERE state= 1
        <if test="roleId!=null">AND role_id = #{info}</if>
    </update>
</mapper>