<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.decade.gas.mapper.index.DepartmentMapper">

    <resultMap id="resultDepartment" type="org.decade.gas.entity.index.DepartmentEntity">
        <id property="departmentId" column="department_id" javaType="java.lang.String"/>
        <result property="updateTime" column="update_time" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
    </resultMap>
    <select id="listAll" resultMap="resultDepartment">
        SELECT
            id,
            department_id,
            name,
            function,
            contact,
            address,
            info,
            state,
            update_time,
            create_time
        FROM f_f_department
        WHERE state = 1
        ORDER BY create_time DESC
    </select>
    <select id="search" resultMap="resultDepartment">
        SELECT id,department_id,name,function,contact,address,info,state,update_time,create_time
        FROM f_f_department
        WHERE state=1
        <if test="departmentId != null">AND department_id=#{departmentId}</if>
        <if test="name != null">AND name=#{name}</if>
        ORDER BY create_time DESC
    </select>
    <select id="searchList" resultMap="resultDepartment">
        SELECT
            id,
            department_id,
            name,
            function,
            contact,
            address,
            info,
            state,
            update_time,
            create_time
        FROM f_f_department
        WHERE state = 1
        LIMIT #{from}, #{to}
    </select>
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM f_f_department
    </select>

    <insert id="insert">
        INSERT INTO f_f_department (id, department_id, name, function, contact, address, info, state, update_time, create_time)
        VALUES (#{id}, #{departmentId}, #{name}, #{function}, #{contact}, #{address}, #{info}, #{state}, NOW(), NOW())
    </insert>

</mapper>