<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.decade.gas.mapper.index.NewsMapper">

    <resultMap id="resultNews" type="org.decade.gas.entity.index.NewsEntity">
        <result property="newsId" column="news_id" javaType="java.lang.String"/>
        <result property="publishTime" column="publish_time" javaType="java.lang.String"/>
        <result property="updateTime" column="update_time" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
    </resultMap>
    <select id="listAll" resultMap="resultNews">
        SELECT
            id,
            news_id,
            title,
            picture,
            info,
            state,
            publish_time,
            update_time,
            create_time
        FROM f_f_news
        WHERE state = 1
        ORDER BY publish_time DESC
    </select>
    <select id="search" resultMap="resultNews">
        SELECT id,news_id,title,content,picture,info,state,publish_time,update_time,create_time
        FROM f_f_news
        WHERE state=1
        <if test="newsId != null">AND news_id=#{newsId}</if>
        ORDER BY publish_time DESC
    </select>
    <select id="searchList" resultMap="resultNews">
        SELECT
            id,
            news_id,
            title,
            content,
            picture,
            info,
            state,
            publish_time,
            update_time,
            create_time
        FROM f_f_news
        WHERE state = 1
        ORDER BY publish_time DESC
        LIMIT #{from}, #{to}
    </select>
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM f_f_news
    </select>


</mapper>