<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.decade.gas.mapper.index.PublicMapper">
    <resultMap id="resultPublic1" type="org.decade.gas.entity.index.PublicEntity">
        <result property="publicId" column="public_id" javaType="java.lang.String"/>
        <result property="realName" column="real_name" javaType="java.lang.String"/>
        <result property="phoneNumber" column="phone_number" javaType="java.lang.String"/>
        <result property="updateTime" column="update_time" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
        <association property="role" column="role_id" resultMap="resultBFRole"/>
    </resultMap>
    <resultMap id="resultPublic2" type="org.decade.gas.entity.index.PublicEntity">
        <result property="publicId" column="pid" javaType="java.lang.String"/>
        <result property="name" column="pname" javaType="java.lang.String"/>
        <result property="sex" column="psex" javaType="java.lang.String"/>
        <result property="phoneNumber" column="pnumber" javaType="java.lang.String"/>
        <result property="realName" column="prname" javaType="java.lang.String"/>
        <result property="passwd" column="ppasswd" javaType="java.lang.String"/>
        <result property="updateTime" column="ppt" javaType="java.lang.String"/>
        <result property="createTime" column="pct" javaType="java.lang.String"/>
        <association property="role" column="role_id" resultMap="resultBFRole"/>
    </resultMap>

    <resultMap id="resultBFRole" type="org.decade.gas.entity.admin.BFRoleEntity">
        <result property="roleId" column="rid" javaType="java.lang.String"/>
        <result property="name" column="rname" javaType="java.lang.String"/>
        <result property="info" column="rinfo" javaType="java.lang.String"/>
    </resultMap>
    <select id="listAll" resultMap="resultPublic2">
        SELECT
            p.public_id    AS pid,
            p.name         AS pname,
            p.sex          AS psex,
            p.passwd       AS ppasswd,
            p.real_name    AS prname,
            p.phone_number AS pnumber,
            p.update_time  AS ppt,
            p.create_time  AS pct,
            r.role_id      AS rid,
            r.name         AS rname,
            r.info         AS rinfo
        FROM f_t_public p
            LEFT JOIN b_f_role r ON p.role_id = r.role_id
    </select>
</mapper>