<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.decade.gas.mapper.index.QuestionsMapper">

    <resultMap id="resultQuestions" type="org.decade.gas.entity.index.QuestionsEntity">
        <id property="questionId" column="question_id" javaType="java.lang.String"/>
        <result property="updateTime" column="update_time" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
    </resultMap>
    <select id="listAll" resultMap="resultQuestions">
        SELECT
            id,
            question_id,
            question,
            answer,
            info,
            state,
            update_time,
            create_time
        FROM f_s_questions
        WHERE state = 1
    </select>
    <select id="search" resultMap="resultQuestions">
        SELECT id,question_id,question,answer,info,state,update_time,create_time
        FROM f_s_questions
        WHERE state=1
        <if test="questionId != null">AND question_id=#{questionId}</if>
        <if test="question != null">AND question like #{question}</if>
    </select>
    <select id="searchList" resultMap="resultQuestions">
        SELECT
            id,
            question_id,
            question,
            answer,
            info,
            state,
            update_time,
            create_time
        FROM f_s_questions
        WHERE state = 1
        LIMIT #{from}, #{to}
    </select>
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM f_s_questions
    </select>


</mapper>