<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.decade.gas.mapper.admin.UserMapper">
    <resultMap id="resultUser1" type="org.decade.gas.entity.admin.UserEntity">
        <result property="userId" column="user_id" javaType="java.lang.String"/>
        <result property="userId" column="user_id" javaType="java.lang.String"/>
        <result property="updateTime" column="update_time" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
        <association property="role" column="role_id" resultMap="resultBFRole"/>
    </resultMap>
    <resultMap id="resultUser2" type="org.decade.gas.entity.admin.UserEntity">
        <result property="userId" column="uid" javaType="java.lang.String"/>
        <result property="name" column="uname" javaType="java.lang.String"/>
        <result property="passwd" column="upasswd" javaType="java.lang.String"/>
        <result property="updateTime" column="upt" javaType="java.lang.String"/>
        <result property="createTime" column="uct" javaType="java.lang.String"/>
        <association property="role" column="role_id" resultMap="resultBFRole"/>
    </resultMap>

    <resultMap id="resultBFRole" type="org.decade.gas.entity.admin.BFRoleEntity">
        <result property="roleId" column="rid" javaType="java.lang.String"/>
        <result property="name" column="rname" javaType="java.lang.String"/>
        <result property="info" column="rinfo" javaType="java.lang.String"/>
    </resultMap>
    <select id="listAll" resultMap="resultUser2">
        SELECT
            u.user_id AS uid,
            u.name    AS uname,
            u.passwd  AS upasswd,
            u.state   AS ustate,
            u.update_time AS upt,
            u.create_time AS uct,
            r.role_id AS rid,
            r.name    AS rname,
            r.info    AS rinfo
        FROM b_f_user u
            LEFT JOIN b_f_role r ON u.role_id = r.role_id
    </select>

    <insert id="insert">
        INSERT INTO b_f_user (user_id, name, passwd, role_id, state, update_time, create_time)
        VALUES (#{userId}, #{name}, #{passwd}, #{role.roleId}, #{state}, NOW(), NOW())
    </insert>
</mapper>